body {
  background: #1d183d;
  background: linear-gradient(
    223deg,
    rgba(29, 24, 61, 1) 5%,
    rgba(34, 115, 53, 1) 50%,
    rgba(171, 34, 91, 1) 95%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
