@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
