/* Скидання стилів */
@import url("reset.css");

/* Підключення через Font-face */
@import url("fonts.css");

/* Значення за замовчуванням */

body {
  color: #7e7f7c;
  font-family: "Lato", sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper main {
  flex-grow: 1;
}

/* ------------ */

[class*="__container"] {
  max-width: 1422px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------- */

.header {
  background-color: #fff;
}
.header__container {
  min-height: 164px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__image-logo {
  width: 200px;
  max-width: none;
}
.header__search {
  flex-basis: 264px;
}
.search-header {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #d4d4d4;
}
.search-header__button {
  width: 15px;
  flex-shrink: 0;
  background: url("../img/Icons/search.svg") left no-repeat;
}
.search-header__input {
  padding-left: 15px;
  padding-right: 15px;
  height: 43px;
}

.search-header__input:focus,
.search-header__input:focus-visible {
  outline: none;
}

.header__menu {
  flex-grow: 1;
}

.menu__list {
  display: flex;
  gap: 8px 44px;
  align-items: center;
  flex-wrap: wrap;
}

.icon-menu {
  display: none;
}

.menu__item,
.action-header__item {
  transition: scale 0.6s linear;
}

.menu__item:hover,
.action-header__item:hover {
  scale: 1.1;
}

.menu__link:hover,
.action-header__link:hover {
  transition: 0.5s ease;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #7e7f7c;
}

.menu__link,
.action-header__link {
  font-weight: 700;
  line-height: 1.25;
  color: #2f302c;
  text-transform: uppercase;
}

.action-header {
  display: flex;
  align-items: center;
  gap: 44px;
}

.action-header__link {
  padding-left: 22px;
  display: block;
}
.action-header__link--love {
  background: url("../img/Icons/heart.svg") left no-repeat;
}
.action-header__link--cart {
  background: url("../img/Icons/cart.svg") left no-repeat;
}

.page {
}
.hero {
  position: relative;
  max-width: 100%;
  min-height: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: left;
}

.hero__body {
  margin-left: 55%;
}

.hero__content {
  padding-top: 115px;
  padding-bottom: 110px;
  position: relative;
  z-index: 2;
}
.hero__text {
  font-size: 20px;
  line-height: 1.4;
  color: #2f302c;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero__title {
  font-size: 96px;
  line-height: 1.04;
  color: #2f302c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.hero__title::after {
  content: "";
  width: 308px;
  height: 1px;
  background-color: #2f302c;
  display: block;
  margin-bottom: 36px;
  margin-top: 16px;
}

.hero__title span {
  font-weight: 800;
}

.hero__description {
  max-width: 374px;
  line-height: 1.25;
}

.footer {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2f302c;
  padding: 50px 0;
}

@media (width <=1422px) {
  .header__container {
    min-height: 120px;
    gap: 40px;
  }

  .action-header,
  .menu__list {
    gap: 8px 25px;
  }

  .menu__list {
    justify-content: center;
  }

  .hero__title {
    font-size: 78px;
  }

  .hero__content {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  .hero__description {
    max-width: 300px;
  }
}

@media (width <=1200px) {
  .header__search {
    flex-basis: 190px;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__title::after {
    margin-bottom: 15px;
  }

  .hero__text {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .hero__content {
    padding-top: 60px;
    padding-bottom: 55px;
  }
}

@media (width <=992px) {
  .header__container {
    min-height: 100px;
    gap: 30px;
  }
  .action-header,
  .menu__list {
    gap: 8px 17px;
  }
  .header__logo {
    width: 37px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__text {
    font-size: 16px;
  }

  .hero__content {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

@media (width <=768px) {
  .header__container {
    min-height: 70px;
  }
  .icon-menu,
  .header__action,
  .header__logo,
  .header__search {
    position: relative;
    z-index: 3;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    right: 0;
    background-color: #2f302c;
    transition: all 0.3s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.4s;
    padding: 120px 15px 30px 15px;
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 100%;
    background-color: #fff;
    transition: left 0.4s;
    z-index: 2;
  }

  .header__search {
    flex-grow: 1;
  }

  .menu__list {
    flex-direction: column;
    row-gap: 30px;
  }

  .menu__link {
    font-size: 28px;
  }

  .action-header__link {
    width: 25px;
    aspect-ratio: 1;
    padding-left: 0;
    font-size: 0;
    line-height: 1;
    background-size: contain;
  }

  [data-menu-open] .icon-menu span {
    width: 0;
  }

  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    top: 50%;
    translate: 0 -50%;
  }

  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    translate: 0 50%;
    bottom: 50%;
  }

  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }

  .hero__title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero__title::after {
    display: none;
  }

  .hero__description {
    max-width: 200px;
  }

  .hero__image {
    object-position: left center;
  }
}

@media (width <= 688px) {
  .hero__title {
    font-size: 36px;
  }

  .hero__body {
    text-align: center;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__description {
    margin: 0 auto;
  }
}

@media (width < 480px) {
  .header__container {
    gap: 15px;
  }

  .header__logo {
    width: 28px;
  }

  .header__image-logo {
    width: 154px;
  }

  .search-header {
    border-radius: 5px;
    border: 1px solid #d4d4d4;
  }

  .search-header__button {
    display: none;
  }

  .search-header__input {
    height: 33px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero__image {
    object-position: 10%;
  }

  .hero__description {
    color: #fff;
  }
}

@media (width <= 375px) {
  .hero__image {
    object-position: 15%;
  }
}
