/* Скидання стилів */
@import url("reset.css");

@import url("fonts.css");
@import url("car.css");
body {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 1.3;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #ccc;
  padding: 20px;
  position: relative;
}

[class*="__container"] {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: rgba(76, 42, 54, 0.7);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  box-shadow: 3px 4px 6px 6px rgb(29, 47, 49);
  position: relative;
}

.header__body h1 {
  color: #000;
  font-weight: bold;
  font-family: "Felipa", Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.header__body a {
  color: rgba(157, 185, 197);
}

.header__top {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 2px;
}

.header__body {
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px #000;
  letter-spacing: 3px;
  line-height: 1.5;
}

.header__title {
  color: lightseagreen;
  position: relative;
  display: inline-block;
}

.header__link {
  color: rgb(25, 61, 240);
  position: relative;
  display: inline-block;
}

.header__link::after {
  content: "";
  background-color: antiquewhite;
  height: 2px;
  margin-top: 5px;
  width: 0;
  display: block;
  transition: width linear 0.4s;
}

.header__link:hover::after {
  width: 90%;
}

.main {
  padding: 10px;
}

.page,
.header {
  margin-bottom: 30px;
}

.page {
  box-shadow: 3px 3px 8px 2px #000;
  border-radius: 10px;
  padding: 50px 20px;
  background-color: hsla(78, 91%, 4%, 0.642);
  color: beige;
}

.page-2d {
  margin-bottom: 50px;
}

.page__box section:not(:last-child) {
  margin-bottom: 50px;
}

section [class$="__title"] {
  margin-bottom: 20px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

section [class$="__box"] {
  font-size: 0;
}

.page__title {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
}

.translate {
  border: 1px dashed transparent;
  padding: 10px;
  border-radius: 10px;
}

.item {
  width: 200px;
  height: 200px;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px 6px 2px #000;
  text-transform: uppercase;
  font-size: 18px;
  vertical-align: bottom;
  position: relative;
}

.item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item:not(:last-child) {
  margin-right: 150px;
}
.item-box {
  width: 200px;
  height: 200px;
  background-color: darkcyan;
  transition: all linear 0.6s;
}

.subtitle {
  font-size: 92px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(4, 1, 8);
  margin-bottom: 20px;
}

.translate .item-box--1:hover {
  transform: translate(30px, 30px);
}

.translate .item-box--2:hover {
  transform: translateX(50px);
}

.translate .item-box--3:hover {
  transform: translateY(50px);
}

.translate .item-box--4:hover {
  transform: translate(-50px, -50px);
}

.scale .item-box--1:hover {
  transform: scale(1.75);
}

.scale .item-box--2:hover {
  transform: scaleX(1.5);
}

.scale .item-box--3:hover {
  transform: scaleY(0.5);
}

.scale .item-box--4:hover {
  transform: scale(-1, 1);
}

.rotate .item-box--1:hover {
  transform: rotate(90deg);
}

.rotate .item-box--2:hover {
  transform: rotateX(180deg);
}

.rotate .item-box--3:hover {
  transform: rotateY(180deg);
}

.rotate .item-box--4:hover {
  transform: rotate(-90deg);
}

.skew .item-box--1:hover {
  transform: skew(-20deg, 40deg);
}

.skew .item-box--2:hover {
  transform: skewX(60deg);
}

.skew .item-box--3:hover {
  transform: skewY(120deg);
}

.skew .item-box--4:hover {
  transform: skew(60deg, -30deg);
}

.tr-origin .item-box--1:hover {
  transform-origin: left top;
  transform: rotate(90deg) scale(1.1) skew(25deg);
}

.tr-origin .item-box--2:hover {
  transform-origin: right top;
  transform: rotate(45deg) scale(0.6);
}

.tr-origin .item-box--3:hover {
  transform-origin: left bottom;
  transform: rotate(-45deg) scale(0.9) skew(-60deg);
}

.tr-origin .item-box--4:hover {
  transform-origin: right bottom;
  transform: rotate(-60deg) scale(1.4) skew(-20deg);
}

.perspective .item--1 {
  perspective: 200px;
  perspective-origin: top left;
}

.perspective .item-box--1:hover {
  transform: rotateX(90deg);
}

.perspective .item--2 {
  perspective: 300px;
  perspective-origin: top right;
}

.perspective .item-box--2:hover {
  transform: rotateY(75deg);
}

.perspective .item--3 {
  perspective: 400px;
  perspective-origin: bottom left;
}

.perspective .item-box--3:hover {
  transform: rotateY(-90deg);
}

.perspective .item--4 {
  perspective: 500px;
  perspective-origin: bottom right;
}

.perspective .item-box--4:hover {
  transform: rotateX(-90deg);
}

.page-3d__wrapper {
  font-size: 0;
}

.page-3d .block3d {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  vertical-align: bottom;
  background-color: rgba(222, 184, 135, 0.2);
  border-radius: 5px;
  position: relative;
  perspective: 600px;
}

.page-3d .block3d:not(:last-child) {
  margin-right: 50px;
}
.block3d p {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.block3d .item3d {
  width: 150px;
  height: 150px;
  background-color: rgb(180, 147, 105);
  transition: all linear 0.6s;
  border-radius: 5px;
}

.translate3d__item:hover {
  transform: translate3d(30px, 40px, 50px);
}

.scale3d__item:hover {
  transform: scale3d(1.4, 1.4, 1.4);
}

.rotate3d__item:hover {
  transform: rotate3d(2, 1, 1, 75deg);
}
.matrix3d__item:hover {
  transform: matrix3d(
    0.7,
    0.1,
    0.7,
    0,
    -0.6,
    0.7,
    0.2,
    0,
    -0.5,
    -0.8,
    0.7,
    0,
    10,
    10,
    0,
    1
  );
}

.tr-style {
  transform-style: preserve-3d;
}

.tr-style__item {
  transform: rotateY(0);
}

.tr-style__item:hover {
  transform: rotateY(180deg);
}

.backface__item:hover {
  transform: rotateX(160deg);
  backface-visibility: visible;
}

.footer {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  background-color: rgba(80, 47, 19, 0.701);
  padding: 20px;
  border-radius: 15px;
  color: aliceblue;
  letter-spacing: 2px;
  box-shadow: 3px 3px 8px 3px #000;
}
