/* Загальне обнулення стилів */
@import url(reset.css);

/* Підключення шрифтів */
@import url(fonts.css);

/* Основні стилі */

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper main {
  flex-grow: 1;
}
/* --- */
body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1;
}

[class*="__container"] {
  max-inline-size: 61.5625rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}
/* --- */

.header {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  background-color: transparent;

  z-index: 10;
}

.header--scroll-state {
  background-color: rgba(18, 18, 18, 0.8);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  min-height: clamp(3.75rem, 3.286vw + 2.386rem, 5.9375rem);
}

.header__link::after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  display: block;
  transition: width 0.5s linear;
}

.header__link:hover::after {
  width: 100%;
}

.header__logo {
  font-size: 2.25rem;
}

.menu__list {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.menu__link {
  font-size: 0.75rem;
  transition: all 0.5s linear;
  position: relative;
}

.menu__link:hover {
  transform: scale(1.1);
  color: rgb(254 254 254 / 0.9);
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3125rem;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  display: block;
  transition: width 0.5s linear;
}

.menu__link:hover::after {
  width: 100%;
}

.icon-menu {
  display: none;
}

.header,
.hero {
  color: #fff;
}

.hero {
  min-height: 100vh;
  background-image: url(../img/Home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.hero__content {
  padding-top: 10.9375rem;
  max-inline-size: 22.25rem;
  margin-left: auto;
  text-align: center;
}
.hero__title {
  font-size: 2.9375rem;
  margin-block-end: 1.5rem;
}
.hero__text {
  font-size: 0.875rem;
  margin-block-end: 3rem;
}
.hero__link {
  font-size: 13px;
  padding-block: 0.5rem;
  padding-inline: 0.875rem;
  border: 1px solid #fff;
  transition: all 0.5s linear;
}
.hero__link:hover {
  transform: scale(1.06);
  transition: all 0.5s linear;
  background-color: #fefefe;
  color: #000;
}

.hero__link::after {
  content: "";
  height: 1px;
  width: 0;
  display: block;
  background-color: #000;
  transition: all 0.5s linear;
}

.hero__link:hover::after {
  width: 100%;
}

.about {
  min-block-size: 100svh;
  padding-block-start: 5.3125rem;
  padding-block-end: 6.25rem;
  border-bottom: 1px solid #837f7f;
}
.about__title {
  font-size: 1.875rem;
  text-align: center;
  margin-block-end: 7.1875rem;
}
.about__row {
  display: flex;
  justify-content: space-between;
  margin-block-end: 8.4375rem;
  column-gap: 20px;
}

.about__container {
  text-align: center;
}

.about__item:nth-child(1) {
  flex: 0 1 28.125rem;
}

.about__content {
  text-align: left;
  padding-block-start: 1.5625rem;
  padding-block-end: 4.8125rem;
}

.about__content > *:not(:last-child) {
  margin-block-end: 2.1875rem;
}

.about__content h3 {
  font-size: 1.875rem;
}

.link-btn {
  display: inline-block;
  border: 1px solid #000;
  padding-block: 0.5625rem;
  padding-inline-start: 3rem;
  padding-inline-end: 3.0625rem;
  font-size: 0.875rem;
  transition: all 0.5s linear;
}
.link-btn:hover {
  transition: all 0.5s linear;
  transform: scale(1.1);
  background-color: #000;
  color: #fff;
}

.cosmetics {
  padding-block-start: 3.9375rem;
  padding-block-end: 7.3125rem;
  border-bottom: 1px solid #837f7f;
}

.cosmetics__title {
  font-size: 36px;
  color: #000;
  margin-block-end: 1.9375rem;
  text-align: center;
}

.cosmetics__container {
  max-width: 52.25rem;
  width: 100%;
}

.cosmetics__nav {
  margin-block-end: 6.3125rem;
}

.cosmetics__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.375rem;
}

.cosmetics__link {
  position: relative;
}
.cosmetics__link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  inline-size: 0;
  block-size: 0.125rem;
  background-color: #000;
  transition: all 0.5s;
  display: block;
  margin-block-start: 0.625rem;
}

.cosmetics__link:hover::after {
  inline-size: 6.25rem;
}

.cosmetics__cards {
  margin-bottom: 7.375rem;
}

.item-cards {
  display: flex;
  column-gap: clamp(2.5rem, 8vw, 5.6875rem);
  row-gap: clamp(2.5rem, 8vw, 4.75rem);
  justify-content: center;
  flex-wrap: wrap;
}
.item-cards__img {
  overflow: hidden;
  aspect-ratio: 200 / 208;
  position: relative;
}

.item-cards__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.6s;
}

.item-cards__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.6s;
}

.item-cards__img:hover::before {
  background-color: rgb(17 17 17 / 0.3);
}

.item-cards__item {
  flex: 1 1 calc((100% - 2 * 5.6875rem) / 3);
  max-width: 12.5rem;
  min-width: 11.25rem;
  flex-direction: column;
  display: flex;
  row-gap: 1rem;
}
.item-cards__title {
  font-size: 1.25rem;
  line-height: 1.5;
}

.button {
  text-align: center;
}

@media (width <=73.125em) {
  .cosmetics {
    padding-block-end: 60px;
  }

  .cosmetics__cards {
    margin-block-end: 60px;
  }

  .about__title {
    margin-block-end: 3.75rem;
  }

  .about__row {
    margin-block-end: 3.75rem;
  }
}

@media (width <=48em) {
  .cosmetics__nav {
    margin-block-end: 50px;
  }

  .item-cards {
    row-gap: 1.875rem;
  }

  .item-cards__title {
    line-height: 1;
  }
}

@media (width <=41.25em) {
  .about__content {
    padding-block: 0;
  }

  .about__content > *:not(:last-child) {
    margin-block-end: 20px;
  }
}

@media (width <=37.5em) {
  .about {
    padding-block-end: 50px;
  }

  .about__title {
    margin-block-end: 30px;
  }

  .about__row {
    flex-direction: column;
    row-gap: 1.875rem;
    margin-block-end: 30px;
  }

  .about__item:nth-child(1) {
    flex-basis: 0;
  }

  .about__item img {
    min-width: 100%;
  }
}

@media (width < 36.375em) {
  .hero__content {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block-start: 9.375rem;
  }

  .hero__text {
    margin-block-end: 1.5rem;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    flex-shrink: 0;
  }

  .icon-menu,
  .header__logo {
    position: relative;
    z-index: 20;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    height: 2px;
    width: 1.875rem;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #837f7f;
    opacity: 0.9;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 4.6875rem 0.9375rem 1.875rem;
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: 0;
    left: 100%;
    transition: all 0.3s;
    background-color: transparent;
    z-index: 2;
  }

  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }

  [data-menu-open] .header__logo {
    color: #000;
  }

  [data-menu-open] .icon-menu span,
  [data-menu-open] .icon-menu::before,
  [data-menu-open] .icon-menu::after {
    background-color: #000;
  }
}

@media (width < 26.875em) {
  .item-cards__item {
    min-width: min(430px, 100%);
  }
}

@media (width <= 25em) {
  .hero__content {
    padding-block-start: 125px;
  }

  .hero__title {
    font-size: 2.25rem;
  }
}
