@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 20px;
}

[class*="__container"] {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #2f302c;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 3px 2px 8px rgb(134, 134, 138);
  margin-bottom: 30px;
}

.header h1 {
  font-size: 52px;
}

.products__title {
  margin-bottom: 35px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.filter__item a {
  padding: 10px;
  position: relative;
}

.filter__item a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  display: block;
  transition: width 0.4s linear;
}

.filter__item a:hover::after {
  width: 100%;
}

.products__body {
  padding: 72px 0 82px 0;
}

.products__list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
.products__item {
  flex-basis: 380px;
  flex-grow: 1;
}
.item-product {
  border: 1px solid transparent;
  transition: all 0.3s;
  overflow: hidden;
}

.item-product:hover {
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.item-product:hover .item-product__image {
  transform: scale(1.2);
}

.item-product__picture {
  margin-bottom: 32px;
  border-radius: 5px;
  overflow: hidden;
}

.item-product__image {
  transition: all 0.3s;
}

.item-product__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.item-product__title {
  margin-bottom: 12px;
  vertical-align: middle;
}
.item-product__rating {
  vertical-align: middle;
}

.item-product__rating span {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.item-product__price {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.advantages__body {
  padding: 72px 0 82px;
}
.advantages__items {
  display: flex;
  gap: 68px;
  flex-wrap: wrap;
}

.advantages__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-advantages {
  position: relative;
  flex-basis: 350px;
  flex-grow: 1;
}

.item-advantages__picture {
  flex-grow: 1;
}

.item-advantages img {
  display: inline-block;
}

.item-advantages *:not(:last-child) {
  margin-bottom: 24px;
}

.item-advantages__content {
  line-height: 1.25;
}

.item-advantages__title {
  font-weight: 700;
}
.item-advantages__text {
  color: #7e7f7c;
  font-weight: 500;
}

.footer {
  background-color: rgba(206, 206, 206, 0.897);
  font-size: 28px;
  text-align: center;
}
