@import url("reset.css");
@import url("page.css");
@import url("fonts.css");

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: aliceblue;
  padding: 30px;
  position: relative;
}

.header__title {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 2px 4px 6px #1a0e64;
  margin-bottom: 10px;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__item {
  font-size: 28px;
  text-transform: uppercase;
}

.header__item a {
  position: relative;
}

.header__item a::after {
  content: "";
  height: 3px;
  width: 0;
  display: block;
  background-color: aliceblue;
  transition: width 0.6s ease;
}

.header__item a:hover::after {
  width: 100%;
}

.header--padding {
  padding: 20px 0;
}

.header--decor {
  background-color: #deb887;
  border-radius: 10px;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1392px;
  margin: 0 auto;
}

.experiments {
  padding: 60px 0;
}

.experiments__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 3px 3px 7px rgba(247, 241, 241, 0.884);
  margin-bottom: 20px;
}
.block {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 6px 14px 2px rgba(221, 227, 235, 0.3);
  background-color: rgba(9, 131, 153, 0.749);
}
.block__body {
  padding: 20px;
}

.block__item:not(:last-child) {
  margin-bottom: 20px;
}

.block__item {
  padding: 10px;
  box-shadow: 0px 0px 10px 4px rgba(45, 54, 72, 0.756);
  border-radius: 10px;
}

.item-block__title {
  font-size: 28px;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}
.item-block__box {
  padding: 10px;
}
.box-display {
  padding: 30px 0;
}

.box-display__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #87e3bb;
  border-radius: 10px;
  padding: 10px 0;
  color: #0f0f0f;
}

.box-display__item:not(:last-child) {
  margin-bottom: 10px;
}

.box-display__item h4 {
  font-size: 22px;
  text-transform: uppercase;
}

.box-display__item:nth-child(2) .box-display__inner {
  display: inline-flex;
}

.box-display__item:nth-child(2) .box-display__body {
  text-align: right;
}

.box-display__body {
  background-color: #a84752cf;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.box-display__inner {
  background-color: #8d87e3a5;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}
.box-display__element {
  line-height: 2;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #cdbbdad8;
}
.box-content {
  padding: 30px 0;
}

.box-content > *:not(:last-child) {
  margin-bottom: 10px;
}

.box-content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #7cb5ee;
  border-radius: 10px;
}

.box-content__item:nth-child(1) .box-content__body {
  justify-content: flex-start;
}

.box-content__item:nth-child(2) .box-content__body {
  justify-content: flex-end;
}

.box-content__item:nth-child(3) .box-content__body {
  justify-content: center;
}

.box-content__item:nth-child(4) .box-content__body {
  justify-content: space-between;
}

.box-content__item:nth-child(5) .box-content__body {
  justify-content: space-around;
}

.box-content__item:nth-child(6) .box-content__body {
  justify-content: space-evenly;
}

.box-content__title {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
}
.box-content__body {
  background-color: #d992a5;
  width: 400px;
  display: flex;
  border-radius: 10px;
  padding: 10px 0;
}
.box-content__element {
  width: 50px;
  height: 50px;
  background-color: #a275f5;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}
.box-align {
  padding: 30px 0;
}

.box-align > *:not(:last-child) {
  margin-bottom: 15px;
}

.box-align__item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7a9f36;
  border-radius: 10px;
}
.box-align__title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.box-align__body {
  background-color: #f5a275;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}
.box-align__element {
  width: 50px;
  background-color: #a275f5;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}

.box-align__item:nth-child(1) .box-align__body {
  align-items: stretch;
}

.box-align__item:nth-child(2) .box-align__body {
  align-items: flex-start;
}

.box-align__item:nth-child(3) .box-align__body {
  align-items: flex-end;
}

.box-align__item:nth-child(4) .box-align__body {
  align-items: center;
}

.box-align__item:nth-child(5) .box-align__body {
  align-items: baseline;
}

.box-direction {
  padding: 30px 0;
}

.box-direction > *:not(:last-child) {
  margin-bottom: 15px;
}

.box-direction__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ee8a59;
  border-radius: 10px;
}

.box-direction__item:nth-child(1) .box-direction__body {
  flex-direction: row;
}

.box-direction__item:nth-child(2) .box-direction__body {
  flex-direction: column;
}

.box-direction__item:nth-child(3) .box-direction__body {
  flex-direction: row-reverse;
}

.box-direction__item:nth-child(4) .box-direction__body {
  flex-direction: column-reverse;
}

.box-direction__title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.box-direction__body {
  background-color: #e4f485;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  display: flex;
}
.box-direction__element {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #a275f5;
  text-align: center;
  border-radius: 10px;
}
.box-self {
  padding: 30px 0;
}
.box-self__item {
  margin-bottom: 10px;
}
.box-self__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}
.box-self__body {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #ccb359f0;
  border-radius: 10px;
  height: 150px;
}
.box-self__elements {
  background-color: #a275f5;
  text-align: center;
  padding: 10px 5px;
}

.box-self__elements:nth-child(1) {
  align-self: center;
}

.box-self__elements:nth-child(2) {
  align-self: flex-start;
}

.box-self__elements:nth-child(3) {
  align-self: flex-end;
}

.box-size {
  padding: 20px;
  background-color: #e784f6bb;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.box-size__item {
  background-color: #e990a0;
  height: 50px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}

.box-size__item:nth-child(1) {
  flex-grow: 1;
}

.box-order {
  padding: 20px;
  text-align: center;
}
.box-order__item {
  background-color: #d9d38c;
  color: #333;
}

.box-order__item:not(:last-child) {
  margin-bottom: 10px;
}

.box-order__body {
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.box-order__elements {
  width: 30px;
  height: 30px;
  background-color: #a275f5;
  text-align: center;
}

.order-3 {
  order: 3;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}
